@media (max-width: 494px) {
  .jumbotron {
    background-image: url("../../assets/img/archi3.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

@media (max-width: 867px) and (min-width: 495px) {
  .jumbotron {
    background-image: url("../../assets/img/archi2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

@media (min-width: 868px) {
  .jumbotron {
    background-image: url("../../assets/img/archi.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.btn:not(:disabled):not(.disabled) {
  background-color: rgb(255,255,255);
  border-style: none;
  color: rgb(192,102,105);
}

@media (min-width: 553px) {
  .w-100 {
    width: auto!important;
  }
}

@media (max-width: 552px) {
  .w-100 {
    width: 100%!important;
  }
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0;
}

.navbar-nav .nav-link {
  /*padding-right: 25px;*/
  /*padding-left: 10px;*/
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.h1, h1 {
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}

